// USER CONFIGURATION
#define WIFI_SSID "YOUR_WIFI_NAME"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#define FIREBASE_API_KEY "YOUR_FIREBASE_API_KEY"
#define FIREBASE_DB_URL "https://your-project-default-rtdb.your-region.firebasedatabase.app/"
#define FIREBASE_USER "device@yourproject.com"
#define FIREBASE_PASS "YOUR_FIREBASE_PASSWORD"
#define DEVICE_ID "dispenser_01"

// FIREBASE ENABLE 
#define ENABLE_USER_AUTH
#define ENABLE_DATABASE